body{
    margin: 0;
    padding: 0;
}

#letra {
    font-family: Arial, Helvetica, sans-serif;
    color: royalblue;
    font-size: 15px;
}

#ape {
    color:blue;
    font-size: 500px;
    border: red 2px solid;

}

#color {
    background-color: #CC1414;

}